In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime

# Concatenate PerDayStats Files For All Months

In [2]:
# Load all the PerDayStats data
file1 = "../Cleaned_Data/2019_Feb_PerDayStats.csv"
file2 = "../Cleaned_Data/2019_Mar_PerDayStats.csv"
file3 = "../Cleaned_Data/2019_Apr_PerDayStats.csv"

file4 = "../Cleaned_Data/2020_Feb_PerDayStats.csv"
file5 = "../Cleaned_Data/2020_Mar_PerDayStats.csv"
file6 = "../Cleaned_Data/2020_Apr_PerDayStats.csv"

In [3]:
# Read file and store into Pandas dataframe
f1 = pd.read_csv(file1)
f2 = pd.read_csv(file2)
f3 = pd.read_csv(file3)

f4 = pd.read_csv(file4)
f5 = pd.read_csv(file5)
f6 = pd.read_csv(file6)

In [4]:
# Convert all of them to dataframes
df1 = pd.DataFrame(f1)
df2 = pd.DataFrame(f2)
df3 = pd.DataFrame(f3)

df4 = pd.DataFrame(f4)
df5 = pd.DataFrame(f5)
df6 = pd.DataFrame(f6)

In [5]:
frames = [df1, df2, df3, df4, df5, df6]
PerDayStats_Total = pd.concat(frames)
PerDayStats_Total = PerDayStats_Total.round(0)

In [6]:
PerDayStats_Total

,Trip_Year,Trip_Month,Trip_Day,gender,usertype,trip_count,avg_trip_length (min)
0,2019,2,1,1,Customer,314,20.0
1,2019,2,1,1,Subscriber,19378,12.0
2,2019,2,1,2,Customer,32,33.0
3,2019,2,1,2,Subscriber,4680,20.0
4,2019,2,2,1,Customer,528,30.0
...,...,...,...,...,...,...,...
115,2020,4,29,2,Subscriber,5261,18.0
116,2020,4,30,1,Customer,892,24.0
117,2020,4,30,1,Subscriber,8923,15.0
118,2020,4,30,2,Customer,454,36.0
119,2020,4,30,2,Subscriber,3246,20.0

# Concatenate PopularStartRoutes Files For All Months

In [7]:
# Load all the PopularStartRoutes data
files1 = "../Cleaned_Data/2019_Feb_PopularStartRoutes.csv"
files2 = "../Cleaned_Data/2019_Mar_PopularStartRoutes.csv"
files3 = "../Cleaned_Data/2019_Apr_PopularStartRoutes.csv"

files4 = "../Cleaned_Data/2020_Feb_PopularStartRoutes.csv"
files5 = "../Cleaned_Data/2020_Mar_PopularStartRoutes.csv"
files6 = "../Cleaned_Data/2020_Apr_PopularStartRoutes.csv"

In [8]:
# Read file and store into Pandas dataframe
fs1 = pd.read_csv(files1)
fs2 = pd.read_csv(files2)
fs3 = pd.read_csv(files3)

fs4 = pd.read_csv(files4)
fs5 = pd.read_csv(files5)
fs6 = pd.read_csv(files6)

In [9]:
# Convert all of them to dataframes
dfs1 = pd.DataFrame(fs1)
dfs2 = pd.DataFrame(fs2)
dfs3 = pd.DataFrame(fs3)

dfs4 = pd.DataFrame(fs4)
dfs5 = pd.DataFrame(fs5)
dfs6 = pd.DataFrame(fs6)

In [10]:
frames = [dfs1, dfs2, dfs3, dfs4, dfs5, dfs6]
PopularStartRoutes_Total = pd.concat(frames)
PopularStartRoutes_Total

,Trip_Year,Trip_Month,start station name,start station latitude,start station longitude,trip_count
0,2019,2,1 Ave & E 110 St,40.792327,-73.938300,8084
1,2019,2,1 Ave & E 16 St,40.732219,-73.981656,8084
2,2019,2,1 Ave & E 18 St,40.733812,-73.980544,8084
3,2019,2,1 Ave & E 30 St,40.741444,-73.975361,8084
4,2019,2,1 Ave & E 44 St,40.750020,-73.969053,8084
...,...,...,...,...,...,...
910,2020,4,Woodward Ave & Harman St,40.707930,-73.910920,4485
911,2020,4,Wyckoff Av & Jefferson St,40.707165,-73.923711,4485
912,2020,4,Wyckoff Av & Stanhope St,40.703545,-73.917775,4485
913,2020,4,Wyckoff St & Nevins St,40.683426,-73.984275,4485
914,2020,4,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,4485

# Concatenate PopularEndRoutes Files For All Months

In [11]:
# Load all the PopularEndRoutes data
filee1 = "../Cleaned_Data/2019_Feb_PopularEndRoutes.csv"
filee2 = "../Cleaned_Data/2019_Mar_PopularEndRoutes.csv"
filee3 = "../Cleaned_Data/2019_Apr_PopularEndRoutes.csv"

filee4 = "../Cleaned_Data/2020_Feb_PopularEndRoutes.csv"
filee5 = "../Cleaned_Data/2020_Mar_PopularEndRoutes.csv"
filee6 = "../Cleaned_Data/2020_Apr_PopularEndRoutes.csv"

In [12]:
# Read file and store into Pandas dataframe
fe1 = pd.read_csv(filee1)
fe2 = pd.read_csv(filee2)
fe3 = pd.read_csv(filee3)

fe4 = pd.read_csv(filee4)
fe5 = pd.read_csv(filee5)
fe6 = pd.read_csv(filee6)

In [13]:
# Convert all of them to dataframes
dfe1 = pd.DataFrame(fe1)
dfe2 = pd.DataFrame(fe2)
dfe3 = pd.DataFrame(fe3)

dfe4 = pd.DataFrame(fe4)
dfe5 = pd.DataFrame(fe5)
dfe6 = pd.DataFrame(fe6)

In [14]:
frames = [dfe1, dfe2, dfe3, dfe4, dfe5, dfe6]
PopularEndRoutes_Total = pd.concat(frames)
PopularEndRoutes_Total

,Trip_Year,Trip_Month,end station name,end station latitude,end station longitude,trip_count
0,2019,2,1 Ave & E 110 St,40.792327,-73.938300,8193
1,2019,2,1 Ave & E 16 St,40.732219,-73.981656,8193
2,2019,2,1 Ave & E 18 St,40.733812,-73.980544,8193
3,2019,2,1 Ave & E 30 St,40.741444,-73.975361,8193
4,2019,2,1 Ave & E 44 St,40.750020,-73.969053,8193
...,...,...,...,...,...,...
914,2020,4,Woodward Ave & Harman St,40.707930,-73.910920,4415
915,2020,4,Wyckoff Av & Jefferson St,40.707165,-73.923711,4415
916,2020,4,Wyckoff Av & Stanhope St,40.703545,-73.917775,4415
917,2020,4,Wyckoff St & Nevins St,40.683426,-73.984275,4415
918,2020,4,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,4415

# Save the file in "Cleaned_Data"

In [15]:
PerDayStats_Total.to_csv(r'..\Final_Data\PerDayStats_Total.csv', index = False)
PopularStartRoutes_Total.to_csv(r'..\Final_Data\PopularStartRoutes_Total.csv', index = False)
PopularEndRoutes_Total.to_csv(r'..\Final_Data\PopularEndRoutes_Total.csv', index = False)