In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime

# Change the file path, and run the following code for each month

In [2]:
# Files to load
file = "../Citibike_data/Feb_Mar_Apr_Data/202004-citibike-tripdata.csv"

In [3]:
# Read file and store into Pandas data frame
file1 = pd.read_csv(file)

In [4]:
df = pd.DataFrame(file1)

In [5]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656,E 2 St & Avenue A,40.723077,-73.985836,545,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,2
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163,Central Park West & W 68 St,40.773407,-73.977825,3301,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,1
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3605,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1982,1
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,3827,Halsey St & Broadway,40.685650,-73.915640,3869,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1996,1
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,3890,Grove St & Broadway,40.690470,-73.923511,3058,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1977,1

In [6]:
# Use "starttime" to extract the year, month, and day for the trip
trip_year = pd.DatetimeIndex(df["starttime"]).year
trip_month = pd.DatetimeIndex(df["starttime"]).month
trip_day = pd.DatetimeIndex(df["starttime"]).day

# Add trip year, month and day to the dataset
df.insert(15,"Trip_Year",trip_year)
df.insert(16,"Trip_Month",trip_month)
df.insert(17,"Trip_Day",trip_day)

In [7]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Trip_Year,Trip_Month,Trip_Day
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656,E 2 St & Avenue A,40.723077,-73.985836,545,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,2,2020,4,1
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163,Central Park West & W 68 St,40.773407,-73.977825,3301,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,1,2020,4,1
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3605,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1982,1,2020,4,1
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,3827,Halsey St & Broadway,40.685650,-73.915640,3869,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1996,1,2020,4,1
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,3890,Grove St & Broadway,40.690470,-73.923511,3058,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1977,1,2020,4,1

In [8]:
# FILE 1 - Contains count and average trip duration per day. Generate one for each month. 

PerDayStats = df.groupby(['Trip_Year', 'Trip_Month','Trip_Day','gender','usertype']).agg({'tripduration': ['count', 'mean']})
PerDayStats.columns = ['trip_count', 'avg_trip_length (min)']
PerDayStats = PerDayStats.reset_index()
PerDayStats["avg_trip_length (min)"] = PerDayStats["avg_trip_length (min)"] / 60
PerDayStats.drop(PerDayStats.loc[PerDayStats['gender']==0].index, inplace=True)
PerDayStats

,Trip_Year,Trip_Month,Trip_Day,gender,usertype,trip_count,avg_trip_length (min)
2,2020,4,1,1,Customer,1430,56.264744
3,2020,4,1,1,Subscriber,11554,19.570426
4,2020,4,1,2,Customer,836,59.202592
5,2020,4,1,2,Subscriber,4677,19.681145
8,2020,4,2,1,Customer,1325,74.293774
...,...,...,...,...,...,...,...
173,2020,4,29,2,Subscriber,5261,18.272021
176,2020,4,30,1,Customer,892,23.756876
177,2020,4,30,1,Subscriber,8923,14.818348
178,2020,4,30,2,Customer,454,35.566557
179,2020,4,30,2,Subscriber,3246,19.513873

In [9]:
# Check the only meaningful data is included

checkgender = PerDayStats['gender'].unique()
print(checkgender)

checkusertype = PerDayStats['usertype'].unique()
print(checkusertype)

[1 2]
['Customer' 'Subscriber']

In [10]:
#FILE 2 - Popular Start Locations in April 2020
startroute = df[['Trip_Year', 'Trip_Month','Trip_Day','start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude','tripduration']]
PopularStartRoutes = startroute.groupby(['Trip_Year', 'Trip_Month','start station name', 'start station latitude', 'start station longitude']).agg({'tripduration': ['count']}).reset_index(drop=False)
PopularStartRoutes.columns = ['Trip_Year', 'Trip_Month','start station name', 'start station latitude', 'start station longitude','trip_count']
PopularStartRoutes.loc[:,'trip_count'] = PopularStartRoutes['trip_count'].max()
PopularStartRoutes

,Trip_Year,Trip_Month,start station name,start station latitude,start station longitude,trip_count
0,2020,4,1 Ave & E 110 St,40.792327,-73.938300,4485
1,2020,4,1 Ave & E 16 St,40.732219,-73.981656,4485
2,2020,4,1 Ave & E 18 St,40.733812,-73.980544,4485
3,2020,4,1 Ave & E 30 St,40.741444,-73.975361,4485
4,2020,4,1 Ave & E 44 St,40.750020,-73.969053,4485
...,...,...,...,...,...,...
910,2020,4,Woodward Ave & Harman St,40.707930,-73.910920,4485
911,2020,4,Wyckoff Av & Jefferson St,40.707165,-73.923711,4485
912,2020,4,Wyckoff Av & Stanhope St,40.703545,-73.917775,4485
913,2020,4,Wyckoff St & Nevins St,40.683426,-73.984275,4485
914,2020,4,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,4485

In [11]:
#FILE 3 - Popular Start Locations in April 2020
endroute = df[['Trip_Year', 'Trip_Month','Trip_Day','start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude','tripduration']]
PopularEndRoutes = endroute.groupby(['Trip_Year', 'Trip_Month','end station name', 'end station latitude', 'end station longitude']).agg({'tripduration': ['count']}).reset_index(drop=False)
PopularEndRoutes.columns = ['Trip_Year', 'Trip_Month','end station name', 'end station latitude', 'end station longitude','trip_count']
PopularEndRoutes.loc[:,'trip_count'] = PopularEndRoutes['trip_count'].max()
PopularEndRoutes

,Trip_Year,Trip_Month,end station name,end station latitude,end station longitude,trip_count
0,2020,4,1 Ave & E 110 St,40.792327,-73.938300,4415
1,2020,4,1 Ave & E 16 St,40.732219,-73.981656,4415
2,2020,4,1 Ave & E 18 St,40.733812,-73.980544,4415
3,2020,4,1 Ave & E 30 St,40.741444,-73.975361,4415
4,2020,4,1 Ave & E 44 St,40.750020,-73.969053,4415
...,...,...,...,...,...,...
914,2020,4,Woodward Ave & Harman St,40.707930,-73.910920,4415
915,2020,4,Wyckoff Av & Jefferson St,40.707165,-73.923711,4415
916,2020,4,Wyckoff Av & Stanhope St,40.703545,-73.917775,4415
917,2020,4,Wyckoff St & Nevins St,40.683426,-73.984275,4415
918,2020,4,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,4415

# Change the file name and save files 1,2,3 for each month in the "Cleaned_Data" folder

In [12]:
PerDayStats.to_csv(r'..\Cleaned_Data\2020_Apr_PerDayStats.csv', index = False)
PopularStartRoutes.to_csv(r'..\Cleaned_Data\2020_Apr_PopularStartRoutes.csv', index = False)
PopularEndRoutes.to_csv(r'..\Cleaned_Data\2020_Apr_PopularEndRoutes.csv', index = False)